<a href="https://colab.research.google.com/github/Praxis-QR/RDWH/blob/main/SQL_for_Data_Science_L3_Procedures_%26_K_Means.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


![alt text](https://4.bp.blogspot.com/-gbL5nZDkpFQ/XScFYwoTEII/AAAAAAAAAGY/CcVb_HDLwvs2Brv5T4vSsUcz7O4r2Q79ACK4BGAYYCw/s1600/kk3-header00-beta.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

#K-Means Clustering with SQL 
<br>

Based on the code given by [Joni Salonen](http://jonisalonen.com/2012/k-means-clustering-in-mysql/)

# Install MySQL

In [1]:
# install mysql on colab
#!apt-get -y install mysql-server
!apt -y install mysql-server

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libencode-locale-perl libevent-core-2.1-6
  libfcgi-perl libhtml-parser-perl libhtml-tagset-perl libhtml-template-perl
  libhttp-date-perl libhttp-message-perl libio-html-perl
  liblwp-mediatypes-perl libtimedate-perl liburi-perl mysql-client-5.7
  mysql-client-core-5.7 mysql-server-5.7 mysql-server-core-5.7
Suggested packages:
  libdata-dump-perl libipc-sharedcache-perl libwww-perl mailx tinyca
The following NEW packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libencode-locale-perl libevent-core-2.1-6
  libfcgi-perl libhtml-parser-perl libhtml-tagset-perl libhtml-template-perl
  libhttp-date-perl libhttp-message-perl libio-html-perl
  liblwp-mediatypes-perl libtimedate-perl liburi-perl mysql-client-5.7
  mysql-client-core-5.7 mysql-server mysql-server-5.7 mysql-server-core-5.7
0 upgraded, 19 newly installed, 0 to remove and 40 not upgraded.
Need to get 19.6 MB of archives.
After this operation, 155 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 mysql-client-core-5.7 amd64 5.7.35-0ubuntu0.18.04.1 [6,627 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 mysql-client-5.7 amd64 5.7.35-0ubuntu0.18.04.1 [1,944 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 mysql-server-core-5.7 amd64 5.7.35-0ubuntu0.18.04.1 [7,420 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic/main amd64 libevent-core-2.1-6 amd64 2.1.8-stable-4build1 [85.9 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 mysql-server-5.7 amd64 5.7.35-0ubuntu0.18.04.1 [2,905 kB]
Get:6 http://archive.ubuntu.com/ubuntu bionic/main amd64 libhtml-tagset-perl all 3.20-3 [12.1 kB]
Get:7 http://archive.ubuntu.com/ubuntu bionic/main amd64 liburi-perl all 1.73-1 [77.2 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic/main amd64 libhtml-parser-perl amd64 3.72-3build1 [85.9 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic/main amd64 libcgi-pm-perl all 4.38-1 [185 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic/main amd64 libfcgi-perl amd64 0.78-2build1 [32.8 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic/main amd64 libcgi-fast-perl all 1:2.13-1 [9,940 B]
Get:12 http://archive.ubuntu.com/ubuntu bionic/main amd64 libencode-locale-perl all 1.05-1 [12.3 kB]
Get:13 http://archive.ubuntu.com/ubuntu bionic/main amd64 libhtml-template-perl all 2.97-1 [59.0 kB]
Get:14 http://archive.ubuntu.com/ubuntu bionic/main amd64 libtimedate-perl all 2.3000-2 [37.5 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic/main amd64 libhttp-date-perl all 6.02-1 [10.4 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic/main amd64 libio-html-perl all 1.001-1 [14.9 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic/main amd64 liblwp-mediatypes-perl all 6.02-1 [21.7 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic/main amd64 libhttp-message-perl all 6.14-1 [72.1 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 mysql-server all 5.7.35-0ubuntu0.18.04.1 [9,944 B]
Fetched 19.6 MB in 2s (10.9 MB/s)
Preconfiguring packages ...
Selecting previously unselected package mysql-client-core-5.7.
(Reading database ... 148489 files and directories currently installed.)
Preparing to unpack .../00-mysql-client-core-5.7_5.7.35-0ubuntu0.18.04.1_amd64.deb ...
Unpacking mysql-client-core-5.7 (5.7.35-0ubuntu0.18.04.1) ...
Selecting previously unselected package mysql-client-5.7.
Preparing to unpack .../01-mysql-client-5.7_5.7.35-0ubuntu0.18.04.1_amd64.deb ...
Unpacking mysql-client-5.7 (5.7.35-0ubuntu0.18.04.1) ...
Selecting previously unselected package mysql-server-core-5.7.
Preparing to unpack .../02-mysql-server-core-5.7_5.7.35-0ubuntu0.18.04.1_amd64.deb ...
Unpacking mysql-server-core-5.7 (5.7.35-0ubuntu0.18.04.1) ...
Selecting previously unselected package libevent-core-2.1-6:amd64.
Preparing to unpack .../03-libevent-core-2.1-6_2.1.8-stable-4build1_amd64.deb ...
Unpacking libevent-core-2.1-6:amd64 (2.1.8-stable-4build1) ...
Selecting previously unselected package mysql-server-5.7.
Preparing to unpack .../04-mysql-server-5.7_5.7.35-0ubuntu0.18.04.1_amd64.deb ...
Unpacking mysql-server-5.7 (5.7.35-0ubuntu0.18.04.1) ...
Selecting previously unselected package libhtml-tagset-perl.
Preparing to unpack .../05-libhtml-tagset-perl_3.20-3_all.deb ...
Unpacking libhtml-tagset-perl (3.20-3) ...
Selecting previously unselected package liburi-perl.
Preparing to unpack .../06-liburi-perl_1.73-1_all.deb ...
Unpacking liburi-perl (1.73-1) ...
Selecting previously unselected package libhtml-parser-perl.
Preparing to unpack .../07-libhtml-parser-perl_3.72-3build1_amd64.deb ...
Unpacking libhtml-parser-perl (3.72-3build1) ...
Selecting previously unselected package libcgi-pm-perl.
Preparing to unpack .../08-libcgi-pm-perl_4.38-1_all.deb ...
Unpacking libcgi-pm-perl (4.38-1) ...
Selecting previously unselected package libfcgi-perl.
Preparing to unpack .../09-libfcgi-perl_0.78-2build1_amd64.deb ...
Unpacking libfcgi-perl (0.78-2build1) ...
Selecting previously unselected package libcgi-fast-perl.
Preparing to unpack .../10-libcgi-fast-perl_1%3a2.13-1_all.deb ...
Unpacking libcgi-fast-perl (1:2.13-1) ...
Selecting previously unselected package libencode-locale-perl.
Preparing to unpack .../11-libencode-locale-perl_1.05-1_all.deb ...
Unpacking libencode-locale-perl (1.05-1) ...
Selecting previously unselected package libhtml-template-perl.
Preparing to unpack .../12-libhtml-template-perl_2.97-1_all.deb ...
Unpacking libhtml-template-perl (2.97-1) ...
Selecting previously unselected package libtimedate-perl.
Preparing to unpack .../13-libtimedate-perl_2.3000-2_all.deb ...
Unpacking libtimedate-perl (2.3000-2) ...
Selecting previously unselected package libhttp-date-perl.
Preparing to unpack .../14-libhttp-date-perl_6.02-1_all.deb ...
Unpacking libhttp-date-perl (6.02-1) ...
Selecting previously unselected package libio-html-perl.
Preparing to unpack .../15-libio-html-perl_1.001-1_all.deb ...
Unpacking libio-html-perl (1.001-1) ...
Selecting previously unselected package liblwp-mediatypes-perl.
Preparing to unpack .../16-liblwp-mediatypes-perl_6.02-1_all.deb ...
Unpacking liblwp-mediatypes-perl (6.02-1) ...
Selecting previously unselected package libhttp-message-perl.
Preparing to unpack .../17-libhttp-message-perl_6.14-1_all.deb ...
Unpacking libhttp-message-perl (6.14-1) ...
Selecting previously unselected package mysql-server.
Preparing to unpack .../18-mysql-server_5.7.35-0ubuntu0.18.04.1_all.deb ...
Unpacking mysql-server (5.7.35-0ubuntu0.18.04.1) ...
Setting up libhtml-tagset-perl (3.20-3) ...
Setting up libevent-core-2.1-6:amd64 (2.1.8-stable-4build1) ...
Setting up libencode-locale-perl (1.05-1) ...
Setting up mysql-server-core-5.7 (5.7.35-0ubuntu0.18.04.1) ...
Setting up libtimedate-perl (2.3000-2) ...
Setting up libio-html-perl (1.001-1) ...
Setting up liblwp-mediatypes-perl (6.02-1) ...
Setting up liburi-perl (1.73-1) ...
Setting up libhtml-parser-perl (3.72-3build1) ...
Setting up libcgi-pm-perl (4.38-1) ...
Setting up mysql-client-core-5.7 (5.7.35-0ubuntu0.18.04.1) ...
Setting up libfcgi-perl (0.78-2build1) ...
Setting up libhttp-date-perl (6.02-1) ...
Setting up libhtml-template-perl (2.97-1) ...
Setting up libcgi-fast-perl (1:2.13-1) ...
Setting up libhttp-message-perl (6.14-1) ...
Setting up mysql-client-5.7 (5.7.35-0ubuntu0.18.04.1) ...
Setting up mysql-server-5.7 (5.7.35-0ubuntu0.18.04.1) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of stop.
update-alternatives: using /etc/mysql/mysql.cnf to provide /etc/mysql/my.cnf (my.cnf) in auto mode
Renaming removed key_buffer and myisam-recover options (if present)
Error: Unable to shut down server with process id 418
dpkg: error processing package mysql-server-5.7 (--configure):
 installed mysql-server-5.7 package post-installation script subprocess returned error exit status 1
dpkg: dependency problems prevent configuration of mysql-server:
 mysql-server depends on mysql-server-5.7; however:
  Package mysql-server-5.7 is not configured yet.

dpkg: error processing package mysql-server (--configure):
 dependency problems - leaving unconfigured
Processing triggers for systemd (237-3ubuntu10.51) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.2) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

Errors were encountered while processing:
 mysql-server-5.7
 mysql-server
E: Sub-process /usr/bin/dpkg returned an error code (1)

In [2]:
!ls /etc/init.d/mysql

/etc/init.d/mysql

In [3]:
!/etc/init.d/mysql restart

 * Stopping MySQL database server mysqld
   ...done.
 * Starting MySQL database server mysqld
No directory, logging in with HOME=/
   ...done.

In [10]:
!mysql -e 'show databases'

+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| performance_schema |
| praxisDB           |
| sys                |
+--------------------+

In [7]:
!mysql -e 'create database praxisDB'
!mysql -e 'show databases'

ERROR 1007 (HY000) at line 1: Can't create database 'praxisDB'; database exists
+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| performance_schema |
| praxisDB           |
| sys                |
+--------------------+

# Basic K-Means <br>
the code is available on [this blog post](http://blog.yantrajaal.com/2016/11/k-means-clustering-with-sql.html).

In [17]:
!mysql praxisDB -e 'drop table if exists km_data;'  
!mysql praxisDB -e 'drop table if exists km_clusters;'  
!mysql praxisDB -e 'drop table if exists km_steps;'

In [18]:
!mysql praxisDB -e 'create table km_data (id int primary key, cluster_id int, x1 float, x2 float);'
!mysql praxisDB -e 'create table km_clusters (id int auto_increment primary key, x1 float, x2 float);'
!mysql praxisDB -e 'create table km_steps (id int, x1 float, x2 float);'

In [20]:
%%writefile SQLproc.sql
drop procedure if exists kmeans; 
DELIMITER //                    
CREATE PROCEDURE kmeans(v_K int)
BEGIN                           
TRUNCATE km_clusters;          
truncate km_steps;              

-- initialize cluster centers 
INSERT INTO km_clusters (x1, x2) SELECT x1, x2 FROM km_data LIMIT v_K; \
REPEAT 
    insert into km_steps select * from km_clusters; 
    -- assign clusters to data points 
    UPDATE km_data d SET cluster_id = (SELECT id FROM km_clusters c 
        ORDER BY POW(d.x1-c.x1,2)+POW(d.x2-c.x2,2) ASC LIMIT 1); 
    -- calculate new cluster center
    UPDATE km_clusters C, (SELECT cluster_id, 
        AVG(x1) AS x1, AVG(x2) AS x2 
        FROM km_data GROUP BY cluster_id) D 
  SET C.x1=D.x1, C.x2=D.x2 WHERE C.id=D.cluster_id; 
UNTIL ROW_COUNT() = 0 END REPEAT; 
END//

Writing SQLproc.sql

In [21]:
!mysql praxisDB --table < SQLproc.sql

In [22]:
!mysql praxisDB -e 'truncate km_data;'
!mysql praxisDB -e 'insert into km_data (id, cluster_id,x1,x2) values (1,0,185,72);'
!mysql praxisDB -e 'insert into km_data (id, cluster_id,x1,x2) values (2,0,170,56);'
!mysql praxisDB -e 'insert into km_data (id, cluster_id,x1,x2) values (3,0,168,60);'
!mysql praxisDB -e 'insert into km_data (id, cluster_id,x1,x2) values (4,0,179,68);'
!mysql praxisDB -e 'insert into km_data (id, cluster_id,x1,x2) values (5,0,182,72);'
!mysql praxisDB -e 'insert into km_data (id, cluster_id,x1,x2) values (6,0,188,77);'

!mysql praxisDB -e 'insert into km_data (id, cluster_id,x1,x2) values (7,0,180,71);'
!mysql praxisDB -e 'insert into km_data (id, cluster_id,x1,x2) values (8,0,180,70);'
!mysql praxisDB -e 'insert into km_data (id, cluster_id,x1,x2) values (9,0,183,84);'
!mysql praxisDB -e 'insert into km_data (id, cluster_id,x1,x2) values (10,0,180,88);'
!mysql praxisDB -e 'insert into km_data (id, cluster_id,x1,x2) values (11,0,180,67);'
!mysql praxisDB -e 'insert into km_data (id, cluster_id,x1,x2) values (12,0,177,76);'

In [23]:
!mysql praxisDB -e 'call kmeans(2);'

In [24]:
!mysql praxisDB -e 'select * from km_clusters;'

+----+-------+------+
| id | x1    | x2   |
+----+-------+------+
|  1 | 181.4 | 74.5 |
|  2 |   169 |   58 |
+----+-------+------+

ROW_COUNT() return number of rows updated in the previous SQL statement <br>
see this [page](http://www.java2s.com/Tutorial/MySQL/0400__Information-Functions/ROWCOUNTreturnsthenumberofrowsupdatedinsertedordeletedbytheprecedingstatement.htm)

#K Means with Iris Dataset <br>
taken from this [site](https://github.com/antmarakis/Machine-Learning/blob/master/Clustering/kMeans%20-%20Standard/data.txt)

In [25]:
!wget https://raw.githubusercontent.com/antmarakis/Machine-Learning/master/Clustering/kMeans%20-%20Standard/data.txt

--2021-08-29 12:29:28--  https://raw.githubusercontent.com/antmarakis/Machine-Learning/master/Clustering/kMeans%20-%20Standard/data.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4698 (4.6K) [text/plain]
Saving to: ‘data.txt’

data.txt            100%[===================>]   4.59K  --.-KB/s    in 0s

2021-08-29 12:29:28 (52.4 MB/s) - ‘data.txt’ saved [4698/4698]

In [26]:
!head data.txt

5.1,3.5,1.4,0.2,Iris-setosa
4.9,3.0,1.4,0.2,Iris-setosa
4.7,3.2,1.3,0.2,Iris-setosa
4.6,3.1,1.5,0.2,Iris-setosa
5.0,3.6,1.4,0.2,Iris-setosa
5.4,3.9,1.7,0.4,Iris-setosa
4.6,3.4,1.4,0.3,Iris-setosa
5.0,3.4,1.5,0.2,Iris-setosa
4.4,2.9,1.4,0.2,Iris-setosa
4.9,3.1,1.5,0.1,Iris-setosa

In [27]:
!mysql praxisDB -e 'drop table if exists iris_data;'
!mysql praxisDB -e 'create table iris_data (x1 float, x2 float, x3 float, x4 float, label varchar(16));'

In [28]:
!mysql praxisDB -e 'desc iris_data'

+-------+-------------+------+-----+---------+-------+
| Field | Type        | Null | Key | Default | Extra |
+-------+-------------+------+-----+---------+-------+
| x1    | float       | YES  |     | NULL    |       |
| x2    | float       | YES  |     | NULL    |       |
| x3    | float       | YES  |     | NULL    |       |
| x4    | float       | YES  |     | NULL    |       |
| label | varchar(16) | YES  |     | NULL    |       |
+-------+-------------+------+-----+---------+-------+

In [ ]:
#!mysql praxisDB -e 'truncate iris_data;'
#!mysql praxisDB -e 'select count(*) from iris_data;'

In [29]:
!mysql praxisDB -e "LOAD DATA LOCAL INFILE 'data.txt' INTO TABLE iris_data FIELDS TERMINATED BY ',' LINES TERMINATED BY '\r\n' ;"

In [30]:
!mysql praxisDB -e 'select count(*) from iris_data;'

+----------+
| count(*) |
+----------+
|      150 |
+----------+

In [31]:
!mysql praxisDB -e 'select * from iris_data limit 5;'

+------+------+------+------+-------------+
| x1   | x2   | x3   | x4   | label       |
+------+------+------+------+-------------+
|  5.1 |  3.5 |  1.4 |  0.2 | Iris-setosa |
|  4.9 |    3 |  1.4 |  0.2 | Iris-setosa |
|  4.7 |  3.2 |  1.3 |  0.2 | Iris-setosa |
|  4.6 |  3.1 |  1.5 |  0.2 | Iris-setosa |
|    5 |  3.6 |  1.4 |  0.2 | Iris-setosa |
+------+------+------+------+-------------+

In [32]:
!mysql praxisDB -e 'drop table if exists km_iris;'
!mysql praxisDB -e 'create table km_iris (id int auto_increment primary key, clusterID int, x1 float, x2 float, x3 float, x4 float, label varchar(16));'

In [33]:
!mysql praxisDB -e 'desc km_iris;'

+-----------+-------------+------+-----+---------+----------------+
| Field     | Type        | Null | Key | Default | Extra          |
+-----------+-------------+------+-----+---------+----------------+
| id        | int(11)     | NO   | PRI | NULL    | auto_increment |
| clusterID | int(11)     | YES  |     | NULL    |                |
| x1        | float       | YES  |     | NULL    |                |
| x2        | float       | YES  |     | NULL    |                |
| x3        | float       | YES  |     | NULL    |                |
| x4        | float       | YES  |     | NULL    |                |
| label     | varchar(16) | YES  |     | NULL    |                |
+-----------+-------------+------+-----+---------+----------------+

In [34]:
%%writefile step10.sql
INSERT INTO km_iris (clusterID,x1,x2,x3,x4,label)
SELECT '0',x1,x2,x3,x4,label
FROM iris_data;

Writing step10.sql

In [35]:
!mysql praxisDB --table < step10.sql

In [36]:
!mysql praxisDB -e 'select * from km_iris limit 10;'

+----+-----------+------+------+------+------+-------------+
| id | clusterID | x1   | x2   | x3   | x4   | label       |
+----+-----------+------+------+------+------+-------------+
|  1 |         0 |  5.1 |  3.5 |  1.4 |  0.2 | Iris-setosa |
|  2 |         0 |  4.9 |    3 |  1.4 |  0.2 | Iris-setosa |
|  3 |         0 |  4.7 |  3.2 |  1.3 |  0.2 | Iris-setosa |
|  4 |         0 |  4.6 |  3.1 |  1.5 |  0.2 | Iris-setosa |
|  5 |         0 |    5 |  3.6 |  1.4 |  0.2 | Iris-setosa |
|  6 |         0 |  5.4 |  3.9 |  1.7 |  0.4 | Iris-setosa |
|  7 |         0 |  4.6 |  3.4 |  1.4 |  0.3 | Iris-setosa |
|  8 |         0 |    5 |  3.4 |  1.5 |  0.2 | Iris-setosa |
|  9 |         0 |  4.4 |  2.9 |  1.4 |  0.2 | Iris-setosa |
| 10 |         0 |  4.9 |  3.1 |  1.5 |  0.1 | Iris-setosa |
+----+-----------+------+------+------+------+-------------+

In [37]:
%%writefile step11.sql

drop table if exists km_clusters;  -- contains the final clusters centres
drop table if exists km_steps;     -- shows intermediate steps
create table km_clusters (id int auto_increment primary key, x1 float, x2 float, x3 float, x4 float);
create table km_steps (id int, x1 float, x2 float, x3 float, x4 float);

Writing step11.sql

In [38]:
!mysql praxisDB --table < step11.sql

In [41]:
%%writefile step14.sql
drop procedure if exists kmeans;
DELIMITER //
CREATE PROCEDURE kmeans(v_K int)
BEGIN
TRUNCATE km_clusters;
truncate km_steps;

-- initialize cluster centers
INSERT INTO km_clusters (x1, x2, x3,x4) SELECT x1, x2,x3,x4 FROM km_iris LIMIT v_K;
REPEAT
    insert into km_steps select * from km_clusters;
    -- assign clusters to data points
    UPDATE km_iris d SET clusterID = (SELECT id FROM km_clusters c 
        ORDER BY POW(d.x1-c.x1,2)+POW(d.x2-c.x2,2)+POW(d.x3-c.x3,2)+POW(d.x4-c.x4,2) ASC LIMIT 1);
    -- calculate new cluster center
    UPDATE km_clusters C, (SELECT clusterID, 
        AVG(x1) AS x1, AVG(x2) AS x2, AVG(x3) AS x3, AVG(x4) AS x4 
        FROM km_iris GROUP BY clusterID) D 
    SET C.x1=D.x1, C.x2=D.x2, C.x3=D.x3, C.x4=D.x4 WHERE C.id=D.clusterID;
UNTIL ROW_COUNT() = 0 END REPEAT;
END//

Overwriting step14.sql

In [42]:
!mysql praxisDB --table < step14.sql

In [43]:
!mysql praxisDB -e 'select * from km_clusters;'

In [44]:
!mysql praxisDB -e 'select * from km_steps;'

In [45]:
!mysql praxisDB -e 'call kmeans(3)'

In [46]:
# look at 10 random rows from the output after clusters have been identified
!mysql praxisDB -e 'select * from km_iris order by rand() limit 10;'

+-----+-----------+------+------+------+------+-----------------+
| id  | clusterID | x1   | x2   | x3   | x4   | label           |
+-----+-----------+------+------+------+------+-----------------+
|  28 |         3 |  5.2 |  3.5 |  1.5 |  0.2 | Iris-setosa     |
|  85 |         2 |  5.4 |    3 |  4.5 |  1.5 | Iris-versicolor |
| 125 |         1 |  6.7 |  3.3 |  5.7 |  2.1 | Iris-virginica  |
| 126 |         1 |  7.2 |  3.2 |    6 |  1.8 | Iris-virginica  |
| 137 |         1 |  6.3 |  3.4 |  5.6 |  2.4 | Iris-virginica  |
| 136 |         1 |  7.7 |    3 |  6.1 |  2.3 | Iris-virginica  |
| 114 |         2 |  5.7 |  2.5 |    5 |    2 | Iris-virginica  |
| 146 |         1 |  6.7 |    3 |  5.2 |  2.3 | Iris-virginica  |
|  52 |         2 |  6.4 |  3.2 |  4.5 |  1.5 | Iris-versicolor |
|  49 |         3 |  5.3 |  3.7 |  1.5 |  0.2 | Iris-setosa     |
+-----+-----------+------+------+------+------+-----------------+

In [47]:
!mysql praxisDB -e 'select * from km_steps;'

+------+---------+---------+---------+---------+
| id   | x1      | x2      | x3      | x4      |
+------+---------+---------+---------+---------+
|    1 |     5.1 |     3.5 |     1.4 |     0.2 |
|    2 |     4.9 |       3 |     1.4 |     0.2 |
|    3 |     4.7 |     3.2 |     1.3 |     0.2 |
|    1 |  6.1618 | 3.25955 | 4.02809 | 1.33258 |
|    2 |  5.5451 | 2.67059 | 3.76471 | 1.16078 |
|    3 |    4.53 |    3.18 |    1.33 |     0.2 |
|    1 | 6.53014 | 2.98356 | 5.24521 | 1.84247 |
|    2 | 5.53704 | 2.57037 | 3.98889 | 1.22593 |
|    3 |   5.006 |   3.418 |   1.464 |   0.244 |
|    1 | 6.57727 | 2.99091 | 5.34848 | 1.89545 |
|    2 |    5.65 | 2.64118 | 4.04706 |    1.25 |
|    3 |   5.006 |   3.418 |   1.464 |   0.244 |
|    1 | 6.60159 | 2.98571 | 5.38413 | 1.91587 |
|    2 | 5.68378 | 2.67838 | 4.09189 | 1.26757 |
|    3 |   5.006 |   3.418 |   1.464 |   0.244 |
|    1 |  6.6322 | 2.99831 | 5.43051 | 1.93729 |
|    2 | 5.72927 | 2.69024 | 4.15122 |     1.3 |
|    3 |   5.006 |   3.418 |   1.464 |   0.244 |
|    1 | 6.66481 | 3.00741 |     5.5 | 1.96852 |
|    2 | 5.78913 | 2.71304 |  4.2087 | 1.33261 |
|    3 |   5.006 |   3.418 |   1.464 |   0.244 |
|    1 |   6.702 |   3.016 |   5.556 |   1.992 |
|    2 |   5.822 |   2.728 |   4.256 |    1.36 |
|    3 |   5.006 |   3.418 |   1.464 |   0.244 |
|    1 | 6.76957 | 3.03696 |     5.6 |  2.0087 |
|    2 | 5.82963 | 2.73148 | 4.31481 | 1.39259 |
|    3 |   5.006 |   3.418 |   1.464 |   0.244 |
|    1 | 6.80233 | 3.04419 | 5.64884 | 2.03023 |
|    2 | 5.85439 | 2.74211 | 4.34561 | 1.40877 |
|    3 |   5.006 |   3.418 |   1.464 |   0.244 |
|    1 |  6.8275 |    3.07 |     5.7 |  2.0625 |
|    2 |   5.885 |    2.74 | 4.37667 | 1.41833 |
|    3 |   5.006 |   3.418 |   1.464 |   0.244 |
|    1 | 6.85385 | 3.07692 | 5.71538 | 2.05385 |
|    2 | 5.88361 | 2.74098 | 4.38852 | 1.43443 |
|    3 |   5.006 |   3.418 |   1.464 |   0.244 |
+------+---------+---------+---------+---------+

# Predictions & Labels

In [48]:
!mysql praxisDB -e 'select clusterID, label from km_iris;'

+-----------+-----------------+
| clusterID | label           |
+-----------+-----------------+
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         1 | Iris-versicolor |
|         2 | Iris-versicolor |
|         1 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         1 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         1 | Iris-virginica  |
|         2 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         2 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         2 | Iris-virginica  |
|         2 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         2 | Iris-virginica  |
|         1 | Iris-virginica  |
|         2 | Iris-virginica  |
|         1 | Iris-virginica  |
|         2 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         2 | Iris-virginica  |
|         2 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         2 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         2 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         2 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         2 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         2 | Iris-virginica  |
+-----------+-----------------+

In [49]:
%%writefile step21.sql
select id, label,  
case
  when label = 'Iris-setosa' then 3
  when label = 'Iris-versicolor' then 2
  when label = 'Iris-virginica' then 1
  else  0
end
labelID,
clusterID
from km_iris

Writing step21.sql

In [50]:
!mysql praxisDB --table < step21.sql

+-----+-----------------+---------+-----------+
| id  | label           | labelID | clusterID |
+-----+-----------------+---------+-----------+
|   1 | Iris-setosa     |       3 |         3 |
|   2 | Iris-setosa     |       3 |         3 |
|   3 | Iris-setosa     |       3 |         3 |
|   4 | Iris-setosa     |       3 |         3 |
|   5 | Iris-setosa     |       3 |         3 |
|   6 | Iris-setosa     |       3 |         3 |
|   7 | Iris-setosa     |       3 |         3 |
|   8 | Iris-setosa     |       3 |         3 |
|   9 | Iris-setosa     |       3 |         3 |
|  10 | Iris-setosa     |       3 |         3 |
|  11 | Iris-setosa     |       3 |         3 |
|  12 | Iris-setosa     |       3 |         3 |
|  13 | Iris-setosa     |       3 |         3 |
|  14 | Iris-setosa     |       3 |         3 |
|  15 | Iris-setosa     |       3 |         3 |
|  16 | Iris-setosa     |       3 |         3 |
|  17 | Iris-setosa     |       3 |         3 |
|  18 | Iris-setosa     |       3 |         3 |
|  19 | Iris-setosa     |       3 |         3 |
|  20 | Iris-setosa     |       3 |         3 |
|  21 | Iris-setosa     |       3 |         3 |
|  22 | Iris-setosa     |       3 |         3 |
|  23 | Iris-setosa     |       3 |         3 |
|  24 | Iris-setosa     |       3 |         3 |
|  25 | Iris-setosa     |       3 |         3 |
|  26 | Iris-setosa     |       3 |         3 |
|  27 | Iris-setosa     |       3 |         3 |
|  28 | Iris-setosa     |       3 |         3 |
|  29 | Iris-setosa     |       3 |         3 |
|  30 | Iris-setosa     |       3 |         3 |
|  31 | Iris-setosa     |       3 |         3 |
|  32 | Iris-setosa     |       3 |         3 |
|  33 | Iris-setosa     |       3 |         3 |
|  34 | Iris-setosa     |       3 |         3 |
|  35 | Iris-setosa     |       3 |         3 |
|  36 | Iris-setosa     |       3 |         3 |
|  37 | Iris-setosa     |       3 |         3 |
|  38 | Iris-setosa     |       3 |         3 |
|  39 | Iris-setosa     |       3 |         3 |
|  40 | Iris-setosa     |       3 |         3 |
|  41 | Iris-setosa     |       3 |         3 |
|  42 | Iris-setosa     |       3 |         3 |
|  43 | Iris-setosa     |       3 |         3 |
|  44 | Iris-setosa     |       3 |         3 |
|  45 | Iris-setosa     |       3 |         3 |
|  46 | Iris-setosa     |       3 |         3 |
|  47 | Iris-setosa     |       3 |         3 |
|  48 | Iris-setosa     |       3 |         3 |
|  49 | Iris-setosa     |       3 |         3 |
|  50 | Iris-setosa     |       3 |         3 |
|  51 | Iris-versicolor |       2 |         1 |
|  52 | Iris-versicolor |       2 |         2 |
|  53 | Iris-versicolor |       2 |         1 |
|  54 | Iris-versicolor |       2 |         2 |
|  55 | Iris-versicolor |       2 |         2 |
|  56 | Iris-versicolor |       2 |         2 |
|  57 | Iris-versicolor |       2 |         2 |
|  58 | Iris-versicolor |       2 |         2 |
|  59 | Iris-versicolor |       2 |         2 |
|  60 | Iris-versicolor |       2 |         2 |
|  61 | Iris-versicolor |       2 |         2 |
|  62 | Iris-versicolor |       2 |         2 |
|  63 | Iris-versicolor |       2 |         2 |
|  64 | Iris-versicolor |       2 |         2 |
|  65 | Iris-versicolor |       2 |         2 |
|  66 | Iris-versicolor |       2 |         2 |
|  67 | Iris-versicolor |       2 |         2 |
|  68 | Iris-versicolor |       2 |         2 |
|  69 | Iris-versicolor |       2 |         2 |
|  70 | Iris-versicolor |       2 |         2 |
|  71 | Iris-versicolor |       2 |         2 |
|  72 | Iris-versicolor |       2 |         2 |
|  73 | Iris-versicolor |       2 |         2 |
|  74 | Iris-versicolor |       2 |         2 |
|  75 | Iris-versicolor |       2 |         2 |
|  76 | Iris-versicolor |       2 |         2 |
|  77 | Iris-versicolor |       2 |         2 |
|  78 | Iris-versicolor |       2 |         1 |
|  79 | Iris-versicolor |       2 |         2 |
|  80 | Iris-versicolor |       2 |         2 |
|  81 | Iris-versicolor |       2 |         2 |
|  82 | Iris-versicolor |       2 |         2 |
|  83 | Iris-versicolor |       2 |         2 |
|  84 | Iris-versicolor |       2 |         2 |
|  85 | Iris-versicolor |       2 |         2 |
|  86 | Iris-versicolor |       2 |         2 |
|  87 | Iris-versicolor |       2 |         2 |
|  88 | Iris-versicolor |       2 |         2 |
|  89 | Iris-versicolor |       2 |         2 |
|  90 | Iris-versicolor |       2 |         2 |
|  91 | Iris-versicolor |       2 |         2 |
|  92 | Iris-versicolor |       2 |         2 |
|  93 | Iris-versicolor |       2 |         2 |
|  94 | Iris-versicolor |       2 |         2 |
|  95 | Iris-versicolor |       2 |         2 |
|  96 | Iris-versicolor |       2 |         2 |
|  97 | Iris-versicolor |       2 |         2 |
|  98 | Iris-versicolor |       2 |         2 |
|  99 | Iris-versicolor |       2 |         2 |
| 100 | Iris-versicolor |       2 |         2 |
| 101 | Iris-virginica  |       1 |         1 |
| 102 | Iris-virginica  |       1 |         2 |
| 103 | Iris-virginica  |       1 |         1 |
| 104 | Iris-virginica  |       1 |         1 |
| 105 | Iris-virginica  |       1 |         1 |
| 106 | Iris-virginica  |       1 |         1 |
| 107 | Iris-virginica  |       1 |         2 |
| 108 | Iris-virginica  |       1 |         1 |
| 109 | Iris-virginica  |       1 |         1 |
| 110 | Iris-virginica  |       1 |         1 |
| 111 | Iris-virginica  |       1 |         1 |
| 112 | Iris-virginica  |       1 |         1 |
| 113 | Iris-virginica  |       1 |         1 |
| 114 | Iris-virginica  |       1 |         2 |
| 115 | Iris-virginica  |       1 |         2 |
| 116 | Iris-virginica  |       1 |         1 |
| 117 | Iris-virginica  |       1 |         1 |
| 118 | Iris-virginica  |       1 |         1 |
| 119 | Iris-virginica  |       1 |         1 |
| 120 | Iris-virginica  |       1 |         2 |
| 121 | Iris-virginica  |       1 |         1 |
| 122 | Iris-virginica  |       1 |         2 |
| 123 | Iris-virginica  |       1 |         1 |
| 124 | Iris-virginica  |       1 |         2 |
| 125 | Iris-virginica  |       1 |         1 |
| 126 | Iris-virginica  |       1 |         1 |
| 127 | Iris-virginica  |       1 |         2 |
| 128 | Iris-virginica  |       1 |         2 |
| 129 | Iris-virginica  |       1 |         1 |
| 130 | Iris-virginica  |       1 |         1 |
| 131 | Iris-virginica  |       1 |         1 |
| 132 | Iris-virginica  |       1 |         1 |
| 133 | Iris-virginica  |       1 |         1 |
| 134 | Iris-virginica  |       1 |         2 |
| 135 | Iris-virginica  |       1 |         1 |
| 136 | Iris-virginica  |       1 |         1 |
| 137 | Iris-virginica  |       1 |         1 |
| 138 | Iris-virginica  |       1 |         1 |
| 139 | Iris-virginica  |       1 |         2 |
| 140 | Iris-virginica  |       1 |         1 |
| 141 | Iris-virginica  |       1 |         1 |
| 142 | Iris-virginica  |       1 |         1 |
| 143 | Iris-virginica  |       1 |         2 |
| 144 | Iris-virginica  |       1 |         1 |
| 145 | Iris-virginica  |       1 |         1 |
| 146 | Iris-virginica  |       1 |         1 |
| 147 | Iris-virginica  |       1 |         2 |
| 148 | Iris-virginica  |       1 |         1 |
| 149 | Iris-virginica  |       1 |         1 |
| 150 | Iris-virginica  |       1 |         2 |
+-----+-----------------+---------+-----------+

In [52]:
%%writefile step22.sql

select K2.id, if(K2.labelID = K2.clusterID,'match','error') checkPL from (
  select id, label,  
    case
    when label = 'Iris-setosa' then 3
    when label = 'Iris-versicolor' then 2
    when label = 'Iris-virginica' then 1
    else  0
    end
  labelID,
  clusterID
  from km_iris
  ) K2

Overwriting step22.sql

In [53]:
!mysql praxisDB --table < step22.sql

+-----+---------+
| id  | checkPL |
+-----+---------+
|   1 | match   |
|   2 | match   |
|   3 | match   |
|   4 | match   |
|   5 | match   |
|   6 | match   |
|   7 | match   |
|   8 | match   |
|   9 | match   |
|  10 | match   |
|  11 | match   |
|  12 | match   |
|  13 | match   |
|  14 | match   |
|  15 | match   |
|  16 | match   |
|  17 | match   |
|  18 | match   |
|  19 | match   |
|  20 | match   |
|  21 | match   |
|  22 | match   |
|  23 | match   |
|  24 | match   |
|  25 | match   |
|  26 | match   |
|  27 | match   |
|  28 | match   |
|  29 | match   |
|  30 | match   |
|  31 | match   |
|  32 | match   |
|  33 | match   |
|  34 | match   |
|  35 | match   |
|  36 | match   |
|  37 | match   |
|  38 | match   |
|  39 | match   |
|  40 | match   |
|  41 | match   |
|  42 | match   |
|  43 | match   |
|  44 | match   |
|  45 | match   |
|  46 | match   |
|  47 | match   |
|  48 | match   |
|  49 | match   |
|  50 | match   |
|  51 | error   |
|  52 | match   |
|  53 | error   |
|  54 | match   |
|  55 | match   |
|  56 | match   |
|  57 | match   |
|  58 | match   |
|  59 | match   |
|  60 | match   |
|  61 | match   |
|  62 | match   |
|  63 | match   |
|  64 | match   |
|  65 | match   |
|  66 | match   |
|  67 | match   |
|  68 | match   |
|  69 | match   |
|  70 | match   |
|  71 | match   |
|  72 | match   |
|  73 | match   |
|  74 | match   |
|  75 | match   |
|  76 | match   |
|  77 | match   |
|  78 | error   |
|  79 | match   |
|  80 | match   |
|  81 | match   |
|  82 | match   |
|  83 | match   |
|  84 | match   |
|  85 | match   |
|  86 | match   |
|  87 | match   |
|  88 | match   |
|  89 | match   |
|  90 | match   |
|  91 | match   |
|  92 | match   |
|  93 | match   |
|  94 | match   |
|  95 | match   |
|  96 | match   |
|  97 | match   |
|  98 | match   |
|  99 | match   |
| 100 | match   |
| 101 | match   |
| 102 | error   |
| 103 | match   |
| 104 | match   |
| 105 | match   |
| 106 | match   |
| 107 | error   |
| 108 | match   |
| 109 | match   |
| 110 | match   |
| 111 | match   |
| 112 | match   |
| 113 | match   |
| 114 | error   |
| 115 | error   |
| 116 | match   |
| 117 | match   |
| 118 | match   |
| 119 | match   |
| 120 | error   |
| 121 | match   |
| 122 | error   |
| 123 | match   |
| 124 | error   |
| 125 | match   |
| 126 | match   |
| 127 | error   |
| 128 | error   |
| 129 | match   |
| 130 | match   |
| 131 | match   |
| 132 | match   |
| 133 | match   |
| 134 | error   |
| 135 | match   |
| 136 | match   |
| 137 | match   |
| 138 | match   |
| 139 | error   |
| 140 | match   |
| 141 | match   |
| 142 | match   |
| 143 | error   |
| 144 | match   |
| 145 | match   |
| 146 | match   |
| 147 | error   |
| 148 | match   |
| 149 | match   |
| 150 | error   |
+-----+---------+

In [54]:
%%writefile step23.sql

select 
count(if(K3.checkPL = 'match',1,NULL)) km_match,
count(if(K3.checkPL = 'error',1,NULL)) km_error, 
count(if(K3.checkPL = 'match',1,NULL)) / (count(if(K3.checkPL = 'match',1,NULL)) +count(if(K3.checkPL = 'error',1,NULL))) success
from (
  select K2.id, if(K2.labelID = K2.clusterID,'match','error') checkPL from (
    select id, label,  
      case
      when label = 'Iris-setosa' then 3
      when label = 'Iris-versicolor' then 2
      when label = 'Iris-virginica' then 1
      else  0
      end
     labelID,
     clusterID
    from km_iris
    ) K2
  ) K3

Writing step23.sql

In [55]:
!mysql praxisDB --table < step23.sql

+----------+----------+---------+
| km_match | km_error | success |
+----------+----------+---------+
|      133 |       17 |  0.8867 |
+----------+----------+---------+

#Chronobooks <br>
![alt text](https://1.bp.blogspot.com/-lTiYBkU2qbU/X1er__fvnkI/AAAAAAAAjtE/GhDR3OEGJr4NG43fZPodrQD5kbxtnKebgCLcBGAsYHQ/s600/Footer2020-600x200.png)<hr>
Chronotantra and Chronoyantra are two science fiction novels that explore the collapse of human civilisation on Earth and then its rebirth and reincarnation both on Earth as well as on the distant worlds of Mars, Titan and Enceladus. But is it the human civilisation that is being reborn? Or is it some other sentience that is revealing itself. 
If you have an interest in AI and found this material useful, you may consider buying these novel, in paperback or kindle, from [http://bit.ly/chronobooks](http://bit.ly/chronobooks)